{% extends 'base.html.twig' %}

{% form_theme questionForm with [_self] %}

{% block _form_answers_row %}
    {{ form_label(form) }}
    <ul>
        {%- for child in form %}
            <li>
                <span>{{ child.vars.value }}.</span>
{#                {{ dump(child) }}#}
                <input type="radio" name="{{ child.vars.full_name }}"
                        {% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}
                        {% if child.vars.checked %} checked="checked"{% endif %} />
                <label for="{{ child.vars.id }}">{{ child.vars.label | raw }}</label>
            </li>
        {% endfor -%}
    </ul>
{% endblock _form_answers_row %}

{% block _form_answers_entry_row %}
    {{ dump(form) }}
    {{ form_label(form.label) }}
    {{ form_widget(form) }}
{% endblock %}

{% block content_body %}
    {{ form_start(questionForm) }}
    {{ form_row(questionForm.answers) }}
    {{ form_row(questionForm.submit) }}
    {{ form_end(questionForm) }}
{% endblock %}

{% block body_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>
    <script>
        var timer = new Timer();
        timer.start({countdown: true, startValues: {seconds: {{ secondsFromStart }} }});
        $('#countdownExample .values').html(timer.getTimeValues().toString());
        timer.addEventListener('secondsUpdated', function (e) {
            $('#countdownExample .values').html(timer.getTimeValues().toString());
        });
        timer.addEventListener('targetAchieved', function (e) {
            window.location.href  = '{{ completeUrl }}'
        });
    </script>
    {{ parent() }}

{% endblock %}
