{% extends 'base.html.twig' %}

{% form_theme questionForm with [_self] %}

{% block _form_answers_row %}
    {{ form_label(form) }}
    <ul style="list-style-type:none">
        {%- for child in form %}
            <li>
                <span style="vertical-align: top">{{ child.vars.value }}.</span>

                {% if form.vars.multiple is same as(true) %}
                <input type="checkbox" class="custom-checkbox" name="{{ child.vars.full_name }}"
                        {% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}
                        {% if child.vars.checked %} checked="checked"{% endif %}
                       style="vertical-align: top;margin-top: 3px;margin-left: 5px;margin-right: 10px;" />
                {% else %}
                <input type="radio" name="{{ child.vars.full_name }}"
                        {% if child.vars.value is defined %} value="{{ child.vars.value }}"{% endif %}
                        {% if child.vars.checked %} checked="checked"{% endif %}
                       style="vertical-align: top;margin-top: 3px;margin-left: 5px;margin-right: 10px;" />
                {% endif %}
                <label for="{{ child.vars.id }}">{{ child.vars.label | raw }}</label>

            </li>
        {% endfor -%}
    </ul>
{% endblock _form_answers_row %}

{% block content_title %}Question #{{ testSessionItem.getPosition+1 }}{% endblock %}

{% block global_actions %}
    <a class="btn btn-warning" href='{{ path('exam_review', {testSessionHash: testSession.getUuid}) }}'>Review answers</a>
{% endblock %}

{% block sidebar %}
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
            <li class="header">Timer</li>
            <li>
                <div id="countdownExample">
                    <div class="values"></div>
                </div>
            </li>
        </ul>
    </section>
{% endblock sidebar %}

{% block content_body %}
    {{ form_start(questionForm) }}
    {{ form_row(questionForm.answers) }}
    {{ form_row(questionForm.submit) }}
    {{ form_end(questionForm) }}
{% endblock %}

{% block body_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>
    <script>
        var timer = new Timer();
        timer.start({countdown: true, startValues: {seconds: {{ secondsToFinish }} }});
        $('#countdownExample .values').html(timer.getTimeValues().toString());
        timer.addEventListener('secondsUpdated', function (e) {
            $('#countdownExample .values').html(timer.getTimeValues().toString());
        });
        timer.addEventListener('targetAchieved', function (e) {
            window.location.href  = '{{ completeUrl }}'
        });
    </script>
    {{ parent() }}

{% endblock %}
