{% extends 'base.html.twig' %}

{% block content_body %}
    Start Test Session ID: {{ testSession.getId }} {{ testSession.getTestSessionTemplate.getName }}
    Time limit: {{ testSession.getTimeLimit }} minutes
    {% for testSessionItem in testSession.getTestSessionItems %}
        <li>{{ testSessionItem.question }}</li>
    {% endfor %}

    Please verify you are ready before
    <a href='{{ path('exam_start_test', {testSessionHash: testSession.getUuid}) }}'>Start Exam</a>

{% endblock %}
