{% extends 'base.html.twig' %}

{% block content_title %}Review questions and complete Test Session{% endblock %}

{% block global_actions %}
    <a class="btn btn-danger" href='{{ path('exam_complete', {testSessionHash: testSession.getUuid}) }}'>Submit answers</a>
{% endblock %}

{% block content_body %}
    <table class="table datagrid">
        <thead>
            <tr>
                <th>
                    <span>ID</span>
                </th>
                <th>
                    <span>Question</span>
                </th>
                <th>
                    <span>Answers</span>
                </th>
                <th>
                    <span>Edit</span>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for item in testSession.getTestSessionItems %}
                <tr>
                    <td>
                        {{ item.getPosition+1 }}
                    </td>
                    <td>
                        {{ item.getQuestion }}
                    </td>
                    <td>
                        {{ item.getSubmittedAnswersAsString }}
                    </td>
                    <td>
                        <a href="{{ path('exam_answer', {itemId: item.getPosition, testSessionHash: testSession.getUuid}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block body_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/dist/easytimer.min.js"></script>
    <script>
        var timer = new Timer();
        timer.start({countdown: true, startValues: {seconds: {{ secondsToFinish }} }});
        $('#countdownExample .values').html(timer.getTimeValues().toString());
        timer.addEventListener('secondsUpdated', function (e) {
            $('#countdownExample .values').html(timer.getTimeValues().toString());
        });
        timer.addEventListener('targetAchieved', function (e) {
            window.location.href  = '{{ completeUrl }}'
        });
    </script>
    {{ parent() }}

{% endblock %}




