{% extends 'content_base.html.twig' %}

{% block content_body %}
    Start Test Session ID: {{ testSession.getId }} {{ testSession.getTestSessionTemplate.getName }}
    Time limit: {{ testSession.getTimeLimit }} minutes
    {% for testSessionItem in testSession.getTestSessionItems %}
        <li>{{ testSessionItem.question }}</li>
    {% endfor %}
    <a href='{{ path('exam_answer', {itemId: 0, testSessionHash: testSession.getUuid}) }}'>Go to first Question</a>

{% endblock %}
